.progress-item {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 300px;
    justify-content: space-around;
}

.not-completed-test-text {
  color: #000000; /* Black text color */
}